{% extends 'layout.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible text-center">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="well">
    <h1>Cart</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product_id.product_name }}</td>
                    <td>{{ item.product_id.product_price|floatformat:2 }}</td>
                    <td><a href="{% url 'remove' item.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Todo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}