{% extends 'layout.html' %}

{% block content %}
<div class="well">
    <h1>Cart</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product_id.product_name }}</td>
                    <td>{{ item.product_id.product_price|floatformat:2 }}</td>
                    <td><a href=""><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>$215.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}