{% extends 'layout.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="well">
        <h3>Please Login</h3>
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'form_template.html' %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}